.root {
  // background-color: #006012;
  padding: 0px 0;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 18px;
  align-self: center;
  position: relative;
 
}

.inner {
  display: flex;
  justify-content: center;
}
.logofilediv {
  // all: initial;
  // display: block;
  // all: unset;
  // margin: auto;
  // background-color: #006012;
}
.logofile {
  
  // all: unset;
  display: block;
  
  margin: auto;
  position: relative;
 
  width: 100px;
  height: 100px;
  
}

.logo {
  background-color: rgb(61, 34, 216);
  color: #fff;
  // font-weight: 700;
  // line-height: 35px;
  // text-transform: uppercase;
  letter-spacing: 0.15px;
  border-radius: 5px;
  padding: 0 10px;
  text-decoration: none;
  padding:6px 16px 6px 16px;
  line-height: 0.9;
  margin: 0px 0px 0px 10px;
  &:hover {
    background-color: #4361ee;
  }
}

.logoAll {
  background-color: rgb(61, 34, 216);
  color: #fff;
  // font-weight: 700;
  // line-height: 35px;
  // text-transform: uppercase;
  letter-spacing: 0.15px;
  border-radius: 5px;
  padding: 0 10px;
  text-decoration: none;
  padding:6px 16px 6px 16px;
  line-height: 0.9; 
  margin: 0px 0px 0px 10px; 
  &:hover {
    background-color: #7c94fc;
  }
}

.buttons {
  button {
    margin-left: 10px;
    color: #006012;
  }

  a {
    text-decoration: none;
  }
}
