.root {
  margin-bottom: 20px;
  background-color: #e2e24d;
  
}

.titleAll {
  padding: 15px 15px 0 15px;
  font-size: 20px;
  font-size: 4vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  align-content: center;
  text-align: center;
  background-color: #cce7ed59;

}
.title {
  
  text-align: center;
  font-family:"Helvetica", sans-serif;
  font-size: 30px;
  font-size: 4vw;
  background: #8189bf;
  color: #ffffff;
  // width: 200px;
  // height: 40px;
  margin: 0 auto;
  position: relative;
  // top: 40px;
  padding: 1% 10px 1% 10px;
  text-align: center;
  // border-top: 3px solid #ababab;
  // border-bottom: 3px solid #ababab;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 0px 14px rgb(58 69 102 / 53%);
}
// .subjects {
  
//   text-align: center;
//   font-family:"Helvetica", sans-serif;
//   font-size: 30px;
//   font-size: 4vw;
//   background: #8189bf;
//   color: #ffffff;
//   // width: 200px;
//   // height: 40px;
//   margin-top: 20px;
//   position: relative;
//   // top: 40px;
//   padding: 1% 10px 1% 10px;
//   text-align: center;
//   // border-top: 3px solid #ababab;
//   // border-bottom: 3px solid #ababab;
//   border-radius: 20px;
//   -moz-border-radius: 20px;
//   -webkit-border-radius: 20px;
//   box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.53);
//   -moz-box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.53);
//   -webkit-box-shadow: 0px 0px 14px rgb(58 69 102 / 53%);
  
// }
